body{
    display: flex;
    justify-content: center;
}

.display{
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: flex-end;
    border: solid black 1px;
    border-radius: 5px;
    font-size: 40px;
}

.numpad{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.operations{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
}

button{
padding: 31px;  
}

.calculator-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 300px;
    height: 400px;
    border: solid black 5px;
    border-radius: 5px;
}
